.lang-bar {
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #695c5c;

  a {
    color: $color-gray;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding-bottom: 5px;
    transition: all .3s ease-in-out;

    &:hover {
      color: $color-primary; 
    }

    &.activo {
      border-bottom: 1px solid $color-primary;
    }
  }
}

.nav-container {
  padding: 50px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: end;
}

.logo-header {
  width: 120px;
}

.hamb-link {
  display: none;
}

.nav-right-wrapper ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;

  li a {
    color: $color-gray;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15rem;
    transition: all .3s ease-in-out;

    &:hover {
      color: $color-primary;  
    }

    &.activo {
      color: $color-primary; 
    }
  }
}

// Mobile - Llamados en _mobile.scss

@mixin navbar--esp-a() {
  .logo-header {
    width: 120px;
  }

  .hamburgeja-ico {
    width: 20px;
  }

  .hamb-link {
    width: 50px;
    height: 50px;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    transition: all .3s ease-in-out;
    border: none;
  }

  .nav-container {
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav-left-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .nav-right-wrapper ul {
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 30px;

    li a {
      text-shadow: none;
      font-size: 0.875rem;
    }

    li {
      padding: 0 40px; // padding izquierdo
    }
  }

  .nav-right-wrapper {
    position: absolute;
    z-index: 2; // actualmente sobre todos los elementos
    background-color: $color-secondary;
    width: 100%;
    position: absolute;
    right: 0px;
    top: 282px;
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;

    &.open {
      height: 370px;
      padding: 40px 0; // padding superior
    }
  }

  .active {
    background: $color-primary;
  }
}

@mixin navbar--sm() {
  .nav-container {
    padding: 30px 0;
  }

  .logo-header {
    width: 100px;
  }

  .nav-right-wrapper {
    top: 220px;

    &.open {
      height: 370px;
      padding: 30px 0;
    }
  }
}