.container-slider {
  max-width: 1280px;
  height: 450px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.swiper,
.swiper-wrapper,
.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  // slides home
  &-1 {
    background: $color-secondary url(../img/swiper/home-img-1.webp) center / cover no-repeat;
  }

  &-2 {
    background: $color-secondary url(../img/swiper/home-img-2.webp) center / cover no-repeat;
  }

  &-3 {
    background: $color-secondary url(../img/swiper/home-img-3.webp) center / cover no-repeat;
  }

  // slide nosotros
  &-4 {
    background: $color-secondary url(../img/swiper/nosotros-img-1.webp) center / cover no-repeat;
  }

  &-5 {
    background: $color-secondary url(../img/swiper/nosotros-img-2.webp) center / cover no-repeat;
  }

  &-6 {
    background: $color-secondary url(../img/swiper/nosotros-img-3.webp) center / cover no-repeat;
  }

  // slide terminal
  &-7 {
    background: $color-secondary url(../img/swiper/terminal-img-1.webp) center / cover no-repeat;
  }

  &-8 {
    background: $color-secondary url(../img/swiper/terminal-img-2.webp) center / cover no-repeat;
  }

  &-9 {
    background: $color-secondary url(../img/swiper/terminal-img-3.webp) center / cover no-repeat;
  }

  // slide tecnologia
  &-10 {
    background: $color-secondary url(../img/swiper/tecnologia-img-1.webp) center / cover no-repeat;
  }

  &-11 {
    background: $color-secondary url(../img/swiper/tecnologia-img-2.webp) center / cover no-repeat;
  }

  &-12 {
    background: $color-secondary url(../img/swiper/tecnologia-img-3.webp) center / cover no-repeat;
  }

  // slide servicios
  &-13 {
    background: $color-secondary url(../img/swiper/servicios-img-1.webp) center / cover no-repeat;
  }

  &-14 {
    background: $color-secondary url(../img/swiper/servicios-img-2.webp) center / cover no-repeat;
  }

  &-15 {
    background: $color-secondary url(../img/swiper/servicios-img-3.webp) center / cover no-repeat;
  }
}

.swiper-pagination {
  position: absolute;
  right: 30px !important;
  bottom: 30px !important;
  left: auto !important;
  top: auto !important;
  width: auto !important;
  display: flex;
  gap: 5px;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 0;
  background: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

// Mobile - Llamados en _mobile.scss
@mixin slider-section--sm() {
  .swiper-pagination {
    right: 20px !important;
    bottom: auto !important;
    left: auto !important;
    top: 50px !important;
  }
}