.video-section {
  padding-bottom: 140px;
}

.video-wrapper {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
  }
}

// Mobile - Llamados en _mobile.scss
@mixin video-section--lg() {
  .video-section {
    padding-bottom: 100px;
  }
}

@mixin video-section--md() {
  .video-section {
    padding-bottom: 100px;
  }
}

@mixin video-section--sm() {
  .video-section {
    padding-bottom: 120px;
  }
}